h4 {
    margin: 1rem;
}

.field-container {
  margin: 1rem;
}

button {
  margin: .5rem;
}

.mat-mdc-form-field {
  width: calc(100%);
}

@media only screen and (min-width: 760px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }

  .mat-mdc-form-field {
    width: 600px;
  }
}
