<section class="container">
  <h4>Book Your Flight</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field-container">
      <mat-form-field>
        <mat-label>From</mat-label>
        <select matNativeControl required formControlName="departure">
          <option label="-- Departure City --"></option>
          @for (city of cities; track city) {
            <option [value]="city.value">{{city.name}}</option>
          }
        </select>
        @if (form.controls.departure.hasError('required')) {
          <mat-error>Departure is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>To</mat-label>
        <select matNativeControl required formControlName="destination">
          <option label="-- Destination City --"></option>
          @for (city of cities; track city) {
            <option [value]="city.value">{{city.name}}</option>
          }
        </select>
        @if (form.controls.destination.hasError('required')) {
          <mat-error>Destination is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Depart date</mat-label>
        <input matInput required formControlName="departDate"
              [min]="minDate" [matDatepicker]="picker1" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        @if (
              form.controls.departDate.hasError('required')
        ) {
          <mat-error>Depart date is required</mat-error>
        }
        @if (
              form.controls.departDate.hasError('matDatepickerMin')
        ) {
          <mat-error>Depart date must be today or later</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Return date</mat-label>
        <input matInput required formControlName="returnDate"
              [min]="minDate" [matDatepicker]="picker2" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        @if (
              form.controls.returnDate.hasError('required')
        ) {
          <mat-error>Return date is required</mat-error>
        }
        @if (
              form.controls.returnDate.hasError('matDatepickerMin')
        ) {
          <mat-error>Return date must be today or later</mat-error>
        }
      </mat-form-field>

    </div>
    <div class="field-container">
      @if (
          form.dirty && form.errors?.["invalidDestination"]
      ) {
        <mat-error>Departure & Destination must different</mat-error>
      }
      @if (
          form.errors?.["invalidRange"]
      ) {
        <mat-error>Return date must be later than Depart date</mat-error>
      }
    </div>
    <div class="btn-container">
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</section>
